/* footer section */
.attribution {
  width: 100%;
  color: #bfbfbf;
  font-size: 0.6875rem;
  padding: 2.5rem 0 2.5rem 0;
  text-align: center;
}

.attribution a {
  color: hsl(248, 32%, 49%);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(154, 59%, 51%);
  background-color: #fff;
}
